<i class="fe fe-plus" id="new-connection-btn" (click)="open(modalConnectionTemplate)">&nbsp;สร้าง Connection ใหม่</i>
<br>
<br>
<div class="row" *ngIf="currentUserDefinedConnection?.instance?.isConnected">
  You have been connecting to '{{currentUserDefinedConnection?.instance.name}}'
</div>

<div class="row" *ngIf="!currentUserDefinedConnection?.instance?.isConnected">
  <div class="col-6" style="border-right: 1px solid rgba(0, 0, 0, 0.1);">
    <div class="row" *ngFor="let conn of userDefinedMySqls" (click)="connect(conn.name)">
      <div class="col-6 active-database-info">
        <h6 class="d-inline-block">{{conn.name}}</h6>
        <img class="d-inline-block float-right db-icon" [src]="pathService.resolveAssetsPath('image/mysql.svg')" alt="db-icon" width="30" height="30">
        <div>
          <img class="addon-icon" [src]="pathService.resolveAssetsPath('icon/database.svg')">
          &nbsp;{{conn.database}}
        </div>
        <div>
          <img class="addon-icon" [src]="pathService.resolveAssetsPath('icon/server.svg')">
          &nbsp;{{conn.host}}:{{conn.port}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row" *ngFor="let conn of userDefinedPostgreSqls" (click)="connect(conn.name)">
      <div class="col-6 active-database-info">
        <h6 class="d-inline-block">{{conn.name}}</h6>
        <img class="d-inline-block float-right db-icon" [src]="pathService.resolveAssetsPath('image/postgresql.png')" alt="db-icon" width="30" height="30">
        <div>
          <img class="addon-icon" [src]="pathService.resolveAssetsPath('icon/database.svg')">
          &nbsp;{{conn.database}}
        </div>
        <div>
          <img class="addon-icon" [src]="pathService.resolveAssetsPath('icon/server.svg')">
          &nbsp;{{conn.host}}:{{conn.port}}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalConnectionTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">สร้าง Connection ใหม่</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-tabset (tabChange)="tabChange($event)">
      <ngb-tab id="mysql" title="MySQL">
        <ng-template ngbTabContent>
          <div class="custom-tab-content">
            <div class="form-group row">
              <label for="connectionName" class="col-3 col-form-label">Connection Name</label>
              <div class="col-9">
                <input type="text" class="form-control" id="connectionName" [(ngModel)]="newConnection.name">
              </div>
            </div>
            <div class="form-group row">
              <label for="hostname" class="col-3 col-form-label">Host Name</label>
              <div class="col-5">
                <input type="text" class="form-control" id="hostname" [(ngModel)]="newConnection.host">
              </div>
              <label for="port" class="col-1 col-form-label">Port</label>
              <div class="col-3">
                <input type="text" class="form-control" id="port" [(ngModel)]="newConnection.port">
              </div>
            </div>
            <div class="form-group row">
              <label for="database" class="col-3 col-form-label">Database</label>
              <div class="col-9">
                <input type="text" class="form-control" id="database" [(ngModel)]="newConnection.database">
              </div>
            </div>
            <div class="form-group row">
              <label for="username" class="col-3 col-form-label">Username</label>
              <div class="col-9">
                <input type="text" class="form-control" id="username" [(ngModel)]="newConnection.username">
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-3 col-form-label">Password</label>
              <div class="col-9">
                <div class="input-group">
                  <input #inputPassword type="password" class="form-control" id="password" [(ngModel)]="newConnection.password">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary {{inputPassword.type == 'password'? 'fe fe-eye': 'fe fe-eye'}}"
                            type="button"
                            (click)="inputPassword.type == 'password'? inputPassword.setAttribute('type', 'text'): inputPassword.setAttribute('type', 'password')">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-3 col-9">
                <button class="btn btn-outline-dark" (click)="testConnection()">Test Connection</button>
              </div>
            </div>
            <div class="form-group row" *ngIf="connectionStatus && connectionStatus.status">
              <div class="col">
                <div class="alert alert-{{connectionStatus.status == 'SUCCESS'? 'success': 'danger'}}" role="alert">
                  <i
                    class="fe {{connectionStatus.status == 'SUCCESS'? 'fe-check': 'fe-warning'}}"></i>&nbsp;{{connectionStatus.message}}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="postgres" title="PostgreSQL">
        <ng-template ngbTabContent>
          <div class="custom-tab-content">
            <div class="form-group row">
              <label for="connectionName" class="col-3 col-form-label">Connection Name</label>
              <div class="col-9">
                <input type="text" class="form-control" id="connectionName-2" [(ngModel)]="newConnection.name">
              </div>
            </div>
            <div class="form-group row">
              <label for="hostname" class="col-3 col-form-label">Host Name</label>
              <div class="col-5">
                <input type="text" class="form-control" id="hostname-2" [(ngModel)]="newConnection.host">
              </div>
              <label for="port" class="col-1 col-form-label">Port</label>
              <div class="col-3">
                <input type="text" class="form-control" id="port-2" [(ngModel)]="newConnection.port">
              </div>
            </div>
            <div class="form-group row">
              <label for="database" class="col-3 col-form-label">Database</label>
              <div class="col-9">
                <input type="text" class="form-control" id="database-2" [(ngModel)]="newConnection.database">
              </div>
            </div>
            <div class="form-group row">
              <label for="username" class="col-3 col-form-label">Username</label>
              <div class="col-9">
                <input type="text" class="form-control" id="username-2" [(ngModel)]="newConnection.username">
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-3 col-form-label">Password</label>
              <div class="col-9">
                <div class="input-group">
                  <input #inputPassword type="password" class="form-control" id="password-2" [(ngModel)]="newConnection.password">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary {{inputPassword.type == 'password'? 'fe fe-eye': 'fe fe-eye'}}"
                            type="button"
                            (click)="inputPassword.type == 'password'? inputPassword.setAttribute('type', 'text'): inputPassword.setAttribute('type', 'password')">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-3 col-9">
                <button class="btn btn-outline-dark" (click)="testConnection()">Test Connection</button>
              </div>
            </div>
            <div class="form-group row" *ngIf="connectionStatus && connectionStatus.status">
              <div class="col">
                <div class="alert alert-{{connectionStatus.status == 'SUCCESS'? 'success': 'danger'}}" role="alert">
                  <i
                    class="fe {{connectionStatus.status == 'SUCCESS'? 'fe-check': 'fe-warning'}}"></i>&nbsp;{{connectionStatus.message}}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveConnection(); modal.close('Save click')">บันทึก
      </button>
    </div>
  </div>
</ng-template>
