<!--<div class="ui-g">-->
<!--  <div class="ui-g-12">-->
<!--    <p-contextMenu [target]="img"></p-contextMenu>-->
<!--    <img #img src="assets/image/free-icon_hot-deal-icon-65.png" width="75" alt="Logo">-->
<!--  </div>-->
<!--  <div class="ui-g-2">-->
<!--    <p-menu [model]="menu"></p-menu>-->
<!--  </div>-->
<!--  <div class="ui-g-10 ui-g-nopad">-->
<!--    <div class="ui-g-12">-->
<!--      <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>-->
<!--    </div>-->
<!--    <div class="ui-g-12" style="min-height: 80vh;">-->
<!--      <p-card>-->
<!--        <router-outlet></router-outlet>-->
<!--      </p-card>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="ui-g-12">-->
<!--    <p-card>Footer</p-card>-->
<!--  </div>-->
<!--</div>-->
<nav class="navbar fixed-top flex-md-nowrap p-0 shadow app-navbar">
  <a class="col-sm-3 col-md-2 mr-0" href="#">
    <span style="color: white;">
      LOGO HERE
    </span>
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" routerLinkActive="true">
            <a class="nav-link" [routerLink]="['/home']">
              <i class="fe fe-home"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="true">
            <a class="nav-link" [routerLink]="['/user-management']">
              <i class="fe fe-users"></i>
              จัดการผู้ใช้งาน
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fe fe-shopping-bag"></i>
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fe fe-users"></i>
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
