<nav class="navbar fixed-top flex-md-nowrap p-0 shadow app-navbar">
  <a class="col-sm-3 col-md-2 mr-0" href="#">
    <span style="color: white;">
      LOGO HERE
    </span>
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-block sidebar">
      <div class="sidebar-sticky">
        <ng-template [ngIf]="anyActive()">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Active Database</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link active-database-info" href="#">
                <h6 class="d-inline-block">{{currentUserDefinedConnection.instance.name}}</h6>
                <img class="d-inline-block float-right" src="../assets/image/mysql.svg" alt="db-logo" width="30" height="30">
                <div>
                  <img class="addon-icon" src="../assets/icon/database.svg">
                  &nbsp;{{currentUserDefinedConnection?.information?.database}}
                </div>
                <div>
                  <img class="addon-icon" src="../assets/icon/server.svg">
                  &nbsp;{{currentUserDefinedConnection?.information?.host}}:{{currentUserDefinedConnection?.information?.port}}
                </div>
                <div>
                  <span class="disconnect-database" (click)="disconnect()">
                    <img class="addon-icon" src="../assets/icon/unplugged.svg">
                    &nbsp;Disconnect
                  </span>
                </div>
              </a>
            </li>
          </ul>
        </ng-template>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Menu</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item" routerLinkActive="true">
            <a class="nav-link" [routerLink]="['/home']">
              <i class="fe fe-home"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
