<!--<p-messages [(value)]="msgs"></p-messages>-->
<!--<form (ngSubmit)="addUser()">-->
<!--  <p-panel header="Validate">-->
<!--    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">-->
<!--      <div class="ui-grid-row">-->
<!--        <div class="ui-grid-col-2">-->
<!--          ชื่อ-นามสกุล-->
<!--        </div>-->
<!--        <div class="ui-grid-col-4">-->
<!--          <input id="name" type="text" name="name" size="30" pInputText [(ngModel)]="user.name">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-grid-row">-->
<!--        <div class="ui-grid-col-2">-->
<!--          แผนก-->
<!--        </div>-->
<!--        <div class="ui-grid-col-4">-->
<!--          <p-dropdown id="department" name="department" [options]="departments" [(ngModel)]="user.department"-->
<!--                      placeholder="&#45;&#45;กรุณาเลือก&#45;&#45;" optionLabel="name" [showClear]="true"></p-dropdown>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-grid-row">-->
<!--        <div class="ui-grid-col-2">-->
<!--          อีเมล-->
<!--        </div>-->
<!--        <div class="ui-grid-col-4">-->
<!--          <input id="email" type="text" name="name" size="30" pInputText [(ngModel)]="user.email">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-grid-row">-->
<!--        <div class="ui-grid-col-2">-->
<!--          โทรศัพท์-->
<!--        </div>-->
<!--        <div class="ui-grid-col-4">-->
<!--          <input id="tel" type="text" name="tel" size=" 30" pInputText [(ngModel)]="user.telephoneNo">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-grid-row">-->
<!--        <div class="ui-grid-col-2"></div>-->
<!--        <div class="ui-grid-col-2">-->
<!--          <button pButton type="submit" label="บันทึก"></button>-->
<!--        </div>-->
<!--        <div class="ui-grid-col-4"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </p-panel>-->
<!--</form>-->

<div class="table-responsive">
  <table class="table table-sm table-border table-hover">
    <thead>
    <tr>
      <th nowrap>Id</th>
      <th nowrap>ชื่อ-นามสกุล</th>
      <th nowrap>แผนก</th>
      <th nowrap>อีเมล</th>
      <th nowrap>โทรศัพท์</th>
      <th nowrap>วันที่บันทึก</th>
      <th nowrap>วันที่อัพเดทล่าสุด</th>
      <th nowrap>ดำเนินการ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user._id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.department?.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.telephoneNo}}</td>
      <td>{{user.createdAt}}</td>
      <td>{{user.timestampData}}</td>
      <td>
        <button type="button" pButton icon="pi pi-pencil" (click)="edit(user)"></button>&nbsp;
        <button type="button" pButton icon="pi pi-minus" (click)="delete(user)"></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
